$color-black-1: #131313;

$color-white-1: #FFFFFF;
$color-white-2: #F8F8F8;

$color-grey-1: #EDEEEF;
$color-grey-2: #E0E1E2;
$color-grey-3: #D1D2D3;
$color-grey-4: #A1A2A3;

$color-red-1: #ea291e;
$color-red-2: #e54c55;
