.chat {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.chat-panel {
  position: absolute;
  top: $base-unit * 8;
  left: $base-unit * 3;
  right: $base-unit * 3;
  bottom: $base-unit * 8;
  margin: auto;
  border: 1px solid $color-grey-4;
  background: $color-white-1;
}
.chat-block {
  position: absolute;
  width: 100%;
  padding: $base-unit * 2;
}
.chat-block_up {
  top: 0;
  bottom: $base-unit * 7;
}
.chat-block_down {
  bottom: 0;
  height: $base-unit * 7;
  padding-bottom: 0;
}
.chat-error {
  position: absolute;
  right: $base-unit * 3;
  top: $base-unit;
  padding: $base-unit * 2;
  background: $color-red-2;
}